
{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<table style="width:100%">
    <tr>
      <th>Firstname</th>
      <th>Lastname</th> 
      <th>github</th>
    </tr>
    <tr>
      <td>Nathaniel</td>
      <td>Nguyen</td> 
      <td><a href="https://github.com/nonguyen1">https://github.com/nonguyen1</a></td>
    </tr>
    <tr>
      <td>Shaya</td>
      <td>Parsa</td> 
      <td><a href="https://github.com/ShayaP">https://github.com/ShayaP</a></td>
    </tr>
  </table>

{% endblock %}