{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

  <h1>Model</h1>

  <!-- Add our jj-switch here to toggle between types of models -->

  <br/>
  <!--
  <form id="sen" method="get">
    <br/>
    <input id="myBtn" type="submit" class="btn" value="Click" name="mybtn">
  </form>
  -->
  <input class="input_sen" id="sent" type="text" placeholder="Input your sentence here" name="mytextbox"/>
  <input id="predBtn" type="submit" class="btn" value="Predict" name="mybtn">
  <input id="clearBrn" type="submit" class="btn" value="Clear" name="mybtn">

  <br/>
  <br/>
  <br/>

  <a> Click here to see why it made its prediction</a>
  <p> Placeholder for how the model made its prediction </p>

{% endblock %}

{% block scripts %}
  <script>
    $("#predBtn").click( () => {
      let sentence = $("#sent").val();

      if (sentence == null) {
        return;
      }

      $.ajax({
        url: '/ajax/handle_sentiment/',
        data: {
          'sentence': sentence
        },
        dataType: 'json',
        success: function (sentiment) {
          if (sentiment.sentiment) {
            console.log("Return " + sentiment.sentiment);
            console.log("Update the sentiment here");
            //alert("A user with this username already exists.");
          }
        }
      });
    });

  </script>
{% endblock %}

