{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<script src="https://cdn.jsdelivr.net/gh/ucsd-cse112/team-12-components/src/jj-components.min.js"></script>

<h1 id="title">Sentiment Model</h1>

<!-- Add our jj-switch here to toggle between types of models -->

<br/>
<jj-switch id="jjswitch" size="large" inactive-text="sentiment model" active-text="emotion
  model" active-color="#dcdfe6" inactive-color="#409eff" value="false"></jj-switch>
<br/>

<br/>


<!--
  <form id="sen" method="get">
  <br/>
  <input id="myBtn" type="submit" class="btn" value="Click" name="mybtn">
  </form>
-->
<input class="input_sen" id="sent" autocomplete="false" type="text" value="" placeholder="Input your sentence here" name="mytextbox"/>
<br/>
<br/>
<input id="predBtn" type="submit" class="btn" value="Predict" name="prdBtn">
<input id="clearBtn" type="submit" class="btn" value="Clear" name="clrBtn">
<p id="prediction"></p>
<p id="prob"></p>
<br/>
<br/>

<div disable id="myChart"><a class="zc-ref" href="https://www.zingchart.com">Powered by ZingChart</a></div>
<br/>
<p id="bias"></p>

<style>
#myChart {
  height:500px;
  width:100%;
  min-height:150px;
}
.zc-ref {
  display:none;
}

#prediction {
  font-size: 2em;
}
</style>

{% endblock %}

{% block scripts %}

<script>

  // This is the object we need to adjust to change the data values.

  //ZC.LICENSE=["b55b025e438fa8a98e32482b5f768ff5"];
  var myConfig = {
    "type":"hbar",
    "title":{
      "text":"",
      "text-align":"center",
      "font-family":"arial",
      "font-color":"#5b5b5b",
      "font-size":"18px",
      "padding":"25px",
      "background-color":"none",
      "adjustLayout":true
    },
    legend: {},
    "plotarea":{
      "adjustLayout":true,
      "margin":'dynamic'
    },
    "plot":{
      "valueBox":{
        "fontColor":"#000"
      },
      "animation": {
        "effect": 2,
        "method": 3,
        "speed": 800,
        "delay": 550
      },
      "stacked":true
    },
    "scale-x":{
      "offset-end":"55%",
      "offset-x":"50%",
      "alpha":1,
      "tick":{
        "alpha":0
      },
      "label":{
        "text":"",
        "font-size": 14
      }
    },
    "scale-x-2":{
      "offset-start":"55%",
      "alpha":0,
      "tick":{
        "alpha":0
      },
      "label":{
        "text":"",
        "font-size": 14
      },
    },
    "scale-y":{ },
    "scale-y-2":{ },
    "series":[]
  };

  // Config used for the emotion prediction of 5 classes.
  var myConfig2 = {
    "type":"hbar",
    "title":{
      "text":"",
      "text-align":"center",
      "font-family":"arial",
      "font-color":"#5b5b5b",
      "font-size":"18px",
      "padding":"25px",
      "background-color":"none",
      "adjustLayout":true
    },
    "plotarea":{
      "adjustLayout":true,
      "margin":'dynamic'
    },
    legend: {},
    "plot":{
      "valueBox":{
        "fontColor":"#000"
      },
      "animation": {
        "effect": 2,
        "method": 3,
        "speed": 800,
        "delay": 550
      },
      "stacked":true
    },
    "scale-x":{
      "offset-end":"0%",
      "offset-x":"0%",
      "alpha":1,
      "tick":{
        "alpha":0
      },
      "label":{
        "text":"",
        "font-size": 14
      }
    },
    "scale-x-2":{
      "offset-start":"0%",
      "alpha":0,
      "tick":{
        "alpha":0
      },
      "label":{
        "text":"",
        "font-size": 14
      },
    },
    "scale-y":{ },
    "scale-y-2":{ },
    "series":[]
  };

  zingchart.render({
    id : 'myChart',
    data : myConfig,
    height: '100%',
    width: '100%'
  });

  // Some last minute styling.
  $("#prob").css('color', 'blue')
  $("#bias").css('color', 'blue')

  let oldSent = "";
  $("#predBtn").click( () => {
    console.log('current value of the switch= ' + $('#jjswitch').attr('value'));
    let sentence = $("#sent").val();

    if (sentence == null || oldSent == sentence) {
      return;
    }

    // DONE: check to see why the ajax is not being called correctly.

    if ($('#jjswitch').attr('value') == "true" || $('#jjswitch').attr('value') == true) {
      // this 
      console.log('switch is checked');

      $.ajax({
        url: '/ajax/handle_emotion/',
        data: {
          'sentence': sentence
        },
        dataType: 'json',
        success: function (sentiment) {
          console.log("SUCCES EMOTION");
          if (sentiment.sentence) {
            let series2 = generate_config_emotion(sentiment.weights);
            myConfig2.series = series2;
            // Rerender the graph.
            zingchart.render({
              id: 'myChart',
              data: myConfig2,
              height: '100%',
              width: '100%'
            });
            console.log("sentpred", sentiment.pred);
            document.getElementById('prediction').innerHTML = sentiment.pred;
            $("#prediction").css('color', 'black');

            console.debug("updating the probs to ", sentiment.probs);
            document.getElementById('prob').innerHTML = "probs: " + sentiment.probs;

            console.log("bias:", sentiment.bias);
            document.getElementById('bias').innerHTML = "bias: " + sentiment.bias;
          }
        }
      });
    } else {
      $.ajax({
        url: '/ajax/handle_sentiment/',
        data: {
          'sentence': sentence
        },
        dataType: 'json',
        success: function (sentiment) {
          if (sentiment.sentence) {
            //console.log("Return " + sentiment.sentence);
            console.log("Return " + sentiment.pred); // 1 positive; 0 negative
            let series2 = generate_config(sentiment.weights);

            myConfig.series = series2;
            console.log(series2);
            console.log("Update the config file here to properly dispay the data");
            console.log(myConfig);
            console.log("rendering graph");

            // Rerender the graph.
            zingchart.render({
              id: 'myChart',
              data: myConfig,
              height: '100%',
              width: '100%'
            });
            console.log("sentpred", sentiment.pred);
            if (sentiment.pred == "1") {
              document.getElementById('prediction').innerHTML = "Positive";
              $("#prediction").css('color', 'green')
            } else {
              document.getElementById('prediction').innerHTML = "Negative";
              $("#prediction").css('color', 'red')
            }
            console.debug("updating the probs to ", sentiment.probs);
            document.getElementById('prob').innerHTML = "probs: " + sentiment.probs;

            console.log("udating the bias to", sentiment.bias);
            document.getElementById('bias').innerHTML = "bias: " + sentiment.bias;
          }
        }
      });
    }
    oldSent = sentence;

  });

  //if switch is clicked clear the sentence box
  $("#jjswitch").click( () => {
    $("#sent").val("");

//    myConfig.series = [];
//    // Rerender the graph.
//    console.log("render and empty graph");
//
//    zingchart.render({
//      id: 'myChart',
//      data: myConfig,
//      height: '100%',
//      width: '100%'
//    });

    console.log($('#title').text());

    if ($('#jjswitch').attr('value') == 'true'||$('#jjswitch').attr('value') == true) {
      $('#title').text('Emotion Model');
    } else {
      $('#title').text('Sentiment Model');
    }
    clearText();
    clearGraph();
  });


  // Clear the sentence box
  $("#clearBtn").click( () => {
    console.log("click clear")
    $("#sent").val("");
    console.log("Remove all the zing chart data here");
    clearText();
    clearGraph();
  });

  function generate_config_emotion(weights) {
    let vals = Object.values(weights);
    let keys = Object.keys(weights);
    console.log('vals: ' + vals);
    console.log('keys: ' + keys);

    let colors = ['#fd625e', '#68d7c6', '#42f45f', '#f441ee', '#f4e541'];
    //let classNames = ["neutral", "sad", "happy", "hate", "anger"];
    let classNames = ["anger", "happy", "hate", "neutral", "anger"];
    let series = [];
    let ks = [];
    let vs = [];
    for (let i = 0; i < 5; ++i) {
      ks[i] = [];
      vs[i] = [];
    }
    // zip
    for (let i=0; i<vals.length; i++) {
      let temp = [];
      for (let j = 0; j < vals[i].length; ++j) {
        temp.push({vals: vals[i][j], keys: keys[i]});
      }

      temp.sort(function (x, y) { return x.vals - y.vals; });
      // console.log('temp is: ');
      // console.log(temp);
      // let vs = [];
      // let ks = [];

      for (let k = 0; k < temp.length; k++) {
        let ob = temp[k];
        vs[k].push(ob.vals);
        ks[k].push(ob.keys);

      }
      // console.log('ks: ');
      // console.log(ks);
      // console.log('vs: ');
      // console.log(vs);
    }
    console.log('ks');
    console.log(ks);
    console.log('vs');
    console.log(vs);

    for (let i = 0; i < ks.length; ++i) {
      series.push({
        "text": classNames[i],
        "values": vs[i],
        "decimals":2,
        "stack":i,
        "scales":"scale-x,scale-y",
        'data-custom-token': ks[i],
        "valueBox":{
            "text":'%data-custom-token',
            "placement":'bottom'
        },
        "background-color": colors[i]
      });
    }
    // Change the height of the chart for 100px per word.
    console.log("Add css height change to the chart");
    $('#myChart').css('height', (keys.length * 80) + "px");
    

    console.log('returning: ');
    console.log(series);
    return series;
  }

  /**
   * Generate the series data to be placed into myConfig.
   * @param weights {object} word(s) with their corresponding weights.
   * @retrun series {array} list of objects to place into myConfig.series.
   */
  function generate_config(weights) {
    let vals = Object.values(weights);
    let keys = Object.keys(weights);

    let zipped = [];

    // zip
    for (let i=0; i<vals.length; i++) {
        zipped.push({vals: vals[i], keys: keys[i]});
    }

    // Sort from smallest to largest
    zipped.sort(function (x, y) { return x.vals - y.vals; });

    let nzip = zipped.filter((zip) => zip.vals < 0); // zipped negative values.
    let pzip = zipped.filter((zip) => zip.vals >= 0); // zipped positive values.
    
    console.log(nzip);
    console.log(pzip);

    let negVals = [];
    let negKeys = [];

    let posVals = [];
    let posKeys = [];

    // unzip negative
    for (i=0; i<nzip.length; i++) {
        let z = nzip[i];
        negVals[i] = z.vals;
        negKeys[i] = z.keys;
    }

    // unzip positive
    for (i=0; i<pzip.length; i++) {
        let z = pzip[i];
        posVals[i] = z.vals;
        posKeys[i] = z.keys;
    }

    console.log(negVals);
    console.log(negKeys);

    console.log(posVals);
    console.log(posKeys);

    // Build the series data to be displayed.

    let series = [];

    $('#myChart').css('height', (keys.length * 30) + "px");

    // Add the negative values.
    series.push({
        "text": "Negative Weights",
        "values": negVals,
        "decimals":2,
        "stack":1,
        "scales":"scale-x,scale-y",
        'data-custom-token': negKeys,
        "valueBox":{
            "text":'%data-custom-token',
            "placement":'bottom'
        },
        "background-color":"#fd625e"
    })
    // Add the positive values.
    series.push({
        "text": "Positive Weights",
        "values": posVals,
        "decimals":2,
        "stack":2,
        "scales":"scale-x-2,scale-y",
        'data-custom-token': posKeys,
        "valueBox":{
            "text":'%data-custom-token',
            "placement":'bottom'
        },
        "background-color":"#68d7c6"
    })

    return series;
  }

  function clearText() {
    document.getElementById('prediction').innerHTML = "";
    document.getElementById('prob').innerHTML = "";
    document.getElementById('bias').innerHTML = "";
  }

  function clearGraph() {
    myConfig.series = [];
    $('#myChart').css('height', "500px");
    // Rerender the graph.
    console.log("render and empty graph");

    zingchart.render({
      id: 'myChart',
      data: myConfig,
      height: '100%',
      width: '100%'
    });

  }

</script>

{% endblock %}

