{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

  <h1>Model</h1>

  <br/>
  <textarea class="input_sen">This is a test area. Type your sentence in here.</textarea>
  <!-- Use a ratings web component here!!! -->
  <br/>
  
  <!-- Use a switch web component here instead!!! -->
  <a> Click here see why it made its prediction</a>

  <h1> Second model</h1>
  <textarea class="input_sen">This is a test area. Type your sentence in here.</textarea>
  <!-- Use a ratings web component here!!! -->
  <br/>
  <!-- Use a switch web component here instead!!! -->
  <a> Click here see why it made its prediction</a>

{% endblock %}
