
{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<script src="https://cdn.jsdelivr.net/gh/ucsd-cse112/team-12-components/src/jj-components.min.js"></script>

<h1 id="title" style="">Sentiment Data</h1>
<jj-switch id="jjswitch" size="large" inactive-text="sentiment model" active-text="emotion model" active-color="#dcdfe6" inactive-color="#409eff" value="false">
<h4> Search for a phrase in the dataset</h4>

<br/>

<!--
  <form id="sen" method="get">
  <br/>
  <input id="myBtn" type="submit" class="btn" value="Click" name="mybtn">
  </form>
-->
<input class="input_sen" id="phrase" autocomplete="off" type="text" value="" placeholder="Input your phrase here" name="mytextbox"/>
<br/>
<br/>
<input id="findBtn" type="submit" class="btn" value="Find" name="findBtn">
<input id="clearBtn" type="submit" class="btn" value="Clear" name="clrBtn">

<br/>
<p id="stats"></p>

<div id="sentences"></div>
<br/>

<style>
.sent_info {
  border-width: 2px;
  margin-top: 20px;
  padding: 5px;
}


</style>


<script>
  /*
   * Clear the sentences
   */
  function clearSentences() {
    console.log("clear sentences");
    document.getElementById('sentences').innerHTML = "";
  }

  function setPosNegText(pos, neg) {
    document.getElementById('stats').innerHTML = 
      `<b style='color:rgb(90, 200, 100)'>Positive:</b> ${pos} 
      <b style='color:rgb(230, 130, 130)'>Negative:</b> ${neg}`;
  }

  function setScores(angry, hate, sad, happy, neutral) {
    document.getElementById('stats').innerHTML = 
      `<b style="color: rgb(230, 130, 130)">Angry:</b> ${angry} 
      <b style="color: rgb(90, 200, 100)">'>Happy:</b> ${happy}
      <b style="color: rgb(244, 223, 65)">'>Sad:</b> ${sad}
      <b style="color: rgb(204, 204, 204)">'>Neutral:</b> ${neutral}
      <b style="color: rgb(66, 101, 244)">'>Hate:</b> ${hate}`;
  }

  /*
   * Print out the sentences.
   */
  function handlePrint(data, label, phrase, isEmotion) {
    if (data.length == 0) {
      $('#sentences').append('<h4>Phrase not found in data</h4>');
      return
    }

    let phrase_len = phrase.length;
    console.log("phrase.length:", phrase.length);
    let pos = 0;
    let happy = 0;
    let sad = 0;
    let hate = 0;
    let angry = 0;
    let neutral = 0;

    for (let i = 0; i < data.length; i++) {
      //console.log(data[i]);
      let index = data[i].search(phrase);
      let l = label[i];
      data[i] = [data[i].slice(0,index), "<b>", data[i].slice(index)].join('');
      data[i] = [data[i].slice(0, index+phrase_len + 3), "</b>", data[i].slice(index+phrase_len + 3)].join('');
      if (l == 'NEGATIVE') {
        $('#sentences').append('<p class="sent_info" style="background-color: rgb(230, 130, 130)">' + data[i] + '</p>');
      } else if(l == 'POSITIVE') {
        pos += 1;
        $('#sentences').append('<p class="sent_info" style="background-color: rgb(90, 200, 100)">' + data[i] + '</p>');
      } if (l == "angry") {
        angry += 1;
        $('#sentences').append('<p class="sent_info" style="background-color: rgb(230, 130, 130)">' + data[i] + '</p>');
      } else if (l == 'happy') {
        happy += 1;
        $('#sentences').append('<p class="sent_info" style="background-color: rgb(90, 200, 100)">' + data[i] + '</p>');
      } else if (l == 'sad') {
        sad += 1;
        $('#sentences').append('<p class="sent_info" style="background-color: rgb(244, 223, 65)">' + data[i] + '</p>');
      } else if (l == 'neutral') {
        neutral += 1;
        $('#sentences').append('<p class="sent_info" style="background-color: rgb(204, 204, 204)">' + data[i] + '</p>');
      } else {
        hate += 1;
        $('#sentences').append('<p class="sent_info" style="background-color: rgb(66, 101, 244)">' + data[i] + '</p>');
      } 
    }

    if (isEmotion == true) {
      setScores(angry, hate, sad, happy, neutral);
    } else {
      setPosNegText(pos, data.length - pos);
    }
    

  }



  let oldPhrase = "";
  $("#findBtn").click( () => {

    console.debug("I click button");
    let phrase = $("#phrase").val();

    if (phrase == null || oldPhrase == phrase) {
      return;
    }
    setPosNegText(0, 0);

    console.debug(`Searching for phrase '${phrase}' in the sentiment dataset`);
    clearSentences();
    if ($('#jjswitch').attr('value') == 'true'||$('#jjswitch').attr('value') == true) {
      $.ajax({
        url: '/ajax/handle_phrase_emotion/',
        data: {
          'phrase': phrase
        },
        dataType: 'json',
        success: function (sentiment) {
          let data = sentiment.data;
          let labels = sentiment.label;
          console.log(labels);
          handlePrint(data, labels, phrase, true);
          //console.debug(sentiment.data);
        }
      });
    } else {
      $.ajax({
        url: '/ajax/handle_phrase/',
        data: {
          'phrase': phrase
        },
        dataType: 'json',
        success: function (sentiment) {
          let data = sentiment.data;
          let labels = sentiment.label;
          console.log(labels);
          handlePrint(data, labels, phrase, false);
          //console.debug(sentiment.data);
        }
      });
    }
    oldPhrase = phrase;
  });

  $("#clearBtn").click(() => {
    console.debug("click clear btn");
    clearSentences();
    $("#sent").val("");
    setPosNegText(0,0);
  });


setPosNegText(0,0);

$("#jjswitch").click( () => {
  if ($('#jjswitch').attr('value') == 'true'||$('#jjswitch').attr('value') == true) {
    $('#title').text('Emotion Data');
    clearSentences();
    $("#sent").val("");
    setPosNegText(0,0);

  } else {
    $('#title').text('Sentiment Data');
    $('#title').text('Sentiment Data');
    clearSentences();
    $("#sent").val("");
    setPosNegText(0,0);
  }
});
</script>

{% endblock %}
